-var menuItem = ["Главная", "Подбор туров", "Агенствам", "Не нашли, что искали", "Контакти"]
-var menuSubItem = ["Item1", "Item2", "Item3"]
-var menuSubItem2 = ["Item1", "Item2", "Item3"]
mixin menu(items)
    ul.sf-menu
        each item in menuItem
            if item == menuItem[1]
                li
                    a(href=item+".html") #{item}
                    ul
                        each item in menuSubItem
                            li: a(href="#") #{item}
            else if item == menuItem[2]
                li
                    a(href=item+".html") #{item}
                    ul
                        each item in menuSubItem
                            li: a(href="#") #{item}
            else
                li: a(href=item+".html") #{item}

mixin top_tel()
    ul.top-tel
        li
           | (050) 486-42-14
        li
           | (067) 741-74-11

mixin copylist()
    ul
        li
           | &copy; 2017 &nbsp;
           a(href="") tural.com.ua
        li
           | All rights reserved
mixin footericon()
    ul
       li
          a(href="#") fa
              //i()
mixin
